<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars</title>
        <link rel="stylesheet" href="style.css">
        <!--Það þarf að sækja og laga vísun á jquery og handlebars -->
        <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </head>
    <body>

        <h1>Conditionals and Loops in Templates with Handlebars JS</h1>
        <h3>Handlebars has support for basic logic built in.</h3>

        <!-- This is the container where the templates will be instantiated -->
        <div id="container">
            <script id="itemTemplate" type="text/x-handlebars-template">
                {{#each employees}}
                    <div class="itemTemplateWrapper">
                        <ul>
                            <li>{{name}}</li>
                            <li>{{phone}}</li>
                            <li>{{email}}</li>
                            <li>{{title}}</li>
                            {{#if fulltime}}
                                <li>Full-time employee</li>
                            {{else}}
                                <li>Part-time employee</li>
                            {{/if}}
                        </ul>
                    </div>
                {{/each}}
            </script>
        </div>
    </body>
</html>
