<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
    <div id="container">
        <div class="lotto float-fix-left">
            <h3>Lottó</h3>
            <div id="lotto">
                <p>Lottó</p>
                <script id="lottoTemplate" type="text/x-handlebars-template">
                    {{#each results}}
                        <div class="border">
                            <p>Dagsettning: {{date}}</p>
                            <p>Tölur: {{lotto}}</p>
                            <p>Upphæð: {{prize}}</p>
                            <a href="{{link}}" target="_blank">Nánar</a>
                        </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <div class="lotto float-fix-left">
            <h3>Víkingalottó</h3>
            <div id="vklotto">
                <p>Víkingalottó</p>
                <script id="vklottoTemplate" type="text/x-handlebars-template">
                    {{#each results}}
                    <div class="border">
                        <p>Dagsettning: {{date}}</p>
                        <p>Tölur: {{lotto}}</p>
                        <p>Upphæð: {{prize}}</p>
                        <a href="{{link}}" target="_blank">Nánar</a>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <div class="lotto float-fix-left">
            <h3>Eurojackpot</h3>
            <div id="eurojackpot" >
                <script id="ejTemplate" type="text/x-handlebars-template">
                    {{#each results}}
                    <div class="border">
                        <p>Dagsettning: {{date}}</p>
                        <p>Tölur: {{lotto}}</p>
                        <p>Upphæð: {{prize}}</p>
                        <a href="{{link}}" target="_blank">Nánar</a>
                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>


</body>
</html>