body{
    width: 1200px;
    margin: 0 auto;
    background-color: #006699;
}
#container{
    width: 1100px;
    background-color: #ccc;
    overflow: auto;
}
.lotto{
    display: block;
    width:230px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #0066cc;
    margin: 50px;
    float: left;
    padding-left: 5px;
}
